body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.jpg");
    font-family: 'pixelify sans', sans-serif;
}   

#sobre-container { 
    text-align: center;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#envelope{
    width: 200px;
    animation: pulse 1.5s infinite;    
    cursor:pointer;
}

#carta-container{
    display: none;
    position:fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.carta-ventana{
    width: 90vw;
    max-width: 800px;
    aspect-ratio:  3/2;
    padding: 20px 20px 0 20px;
}

.carta-ventana{
    width: 90vw;
    max-width: 800px;
    aspect-ratio:  3/2;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("FONDO.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 1px;
    padding-top: 180px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.carta-ventana.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 40px;
}

.cat {
    width: 300px;
    margin: 10px 0;
    transition: width 0.4s ease;
}

.carta-ventana.final .cat {
    width: 600px;
    transform: translateX(60px); /* Mueve al gato 30px a la derecha */

}


.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.no-wrapper{
    position: relative;
}

.botones {
    width: 120px;
    cursor: pointer;
    user-select: none;
}

.botonsi, 
.botonno{
width: 120px;
height: auto;
display: inline-block;
}


.botonsi{

    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: tansform 0.3s ease;
}

.botonno{
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}

.texto-final {
    font-size: 22px;
    line-height: 2.4;
    text-align: justify;
    display: inline-block;
    padding: 9px 10px;
    background-color: rgba(255,240,240,0.5);
    border-radius: 0px;
}

#enlace-cita {
    text-decoration: none; /* Quita el subrayado */
    color: inherit;        /* Mantiene el color negro/gris que ya tenías */
    cursor: pointer;       /* Cambia el cursor a una mano al pasar por encima */
    display: block;        /* Hace que toda el área sea clickeable */
}

#enlace-cita:hover {
    transform: scale(1.02); /* Pequeño efecto al pasar el mouse */
    transition: transform 0.2s ease;
}